@model ProjectVersion001.Models.AssignCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AssignCourse</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Teacher.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditTaken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditTaken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemaingCredit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemaingCredit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.Code)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssignCourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
